*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(img/image1.jpg);
    background-size: cover;
    background-position: center;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;

}

span{
    color: red;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px 30px;
    
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 1.5rem;
    top: 20px;
}

nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}

.btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
    font-size: 1.3rem;
}

.btn:hover{
    transform: scale(1.2);
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 9rem;
}

h3{
    color: white;
    font-size: 1.8rem;
    margin-bottom: 50px;
    font-weight: lighter;
}

h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 1.8rem;
    font-weight: lighter;
}

.newslatter form{
    margin-top: 40px;
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
    font-size: 1.1rem;
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000,0px 0px 15px #858585;
    top: 6px;
    right: 6px;
    font-size: 1.1rem;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: 35vw;
    width: 430px;

}
.about-text{
    width: 550px;
}
.main{

    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#about{
    display: flex;
    background-color: #000;
}
.about-text h2{
    color: white;
    letter-spacing: 3px;
    font-size: 50px;
    margin-bottom: 10px;
    text-transform: capitalize;
    margin-bottom: 60px;
}
.about-text h5{
    font-size: 35px;
    
    color: white;
 
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #f9004c;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding:13px 30px ;
    border-radius: 30px;
    transition: .4s;
    cursor: pointer;
}
button:hover{
    background-color: transparent;
    
}
.sub-title h1{
   color: #f9004c;
   font-size: 10px;
}
#portfolio .sub-title{
    font-size: 6rem;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
#portfolio{
    padding: 50px 0;
    background-color: #000;
    justify-content: space-around;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
   
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 18px;
    transition: height 0.5s;
    
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer p{
    color: #fff;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}



#contact{
    padding: 160px 0 160px 0;
    background-color: #191919;
}

#section{
    text-align: center;
    font-size: 5rem;
    padding: 0 0 120px 0;
}

#contact_row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px 0 100px;
    flex-wrap: wrap;
}

.contact_col{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.contact_col p,h3{
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    margin: 10px;
}

.contact_col p a{
    text-decoration: none;
    color: #fff;
}

#social a{
    color: #ff004f;
    margin: 3px;
}

.contact_col form{
    display: flex;
    flex-direction: column;
    background-color: #ff004f;
    width: 70%;
    padding: 80px 60px 80px 60px;
}

.contact_col form h2{
    text-align: center;
    font-family: cursive;
}

.contact_col form input{
    width: 100%;
    height: 17pt;
    padding: 5px;
    margin: 5px; 
    font-size: 1.2rem;
}

.contact_col form textarea{
    width: 100%;
    padding: 5px;
    margin: 5px;
    font-size: 1.2rem;
}

.contact_col form button{
    margin: auto;
    padding: 20px;
    color: black;
    background-color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    border: 1px solid #ff004f;
    cursor: pointer;
}

.contact_col form button:hover{
    background-color: beige;
}

#footer{
    background-color: #292929;
    padding: 20px;
    position: relative;
}

#footer h5{
    text-align: center;
    color: #ff004f;
    font-weight: lighter;
    font-size: 1.2rem;
}

#footer h5 a{
    color: #fff;
    text-decoration: none;
    font-weight: lighter;
    font-size: 1.2rem;
}

#top{
    position: absolute;
    bottom: 12px;
    right: 12px;
}

#top a{
    color: #fff;
    font-size: 1.5rem;
}
